$primary-color: #ffd6ff;
$secondary-color: #e7c6ff;
$blue: #c8b6ff;
$dark-blue: #b8c0ff;
$light-blue: #bbd0ff;


$ipad-breakpoint: 768px;


$primary-dark: #121212; // Fondo oscuro, casi negro, usado en la mayoría de los fondos.
$secondary-dark: #1f1f1f; // Gris oscuro, usado para secciones y barras.
$accent-blue: #00aaff; // Azul brillante, usado en botones y enlaces.
$accent-purple: #9b4de6; // Morado vibrante, para detalles y acentos secundarios.
$light-gray: #f2f2f2; // Gris muy claro, para textos en contraste.
$button-hover: #006fa6; // Azul más oscuro para hover en botones.